# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
logs
platform
#Ignore lock files
.lock
rfdc_app/.cache/*
.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json
platform/zynqmp_fsbl/build/*
