# ==============================
# Build artifacts (global)
# ==============================
build/
*/build/
**/build/

# Object & dependency files
*.o
*.obj
*.d
*.elf
*.elf.size
*.bin
*.pdi

# Logs & caches
logs/
*.log
.cache/
.vitisWorkspace.json

# ==============================
# Vitis / Xilinx generated
# ==============================
platform/
export/
.peers.ini
.repo.yaml
.lock
